div.floated {
	width: 400px;
	float: left;
	margin-left: 1em;
}

div.scroll {
	position: relative;
}

table {
	border-spacing: 0;
}

ul.myList {
	margin-left: 20px;
}

li {
	cursor: pointer;
	padding-left: 0;
	position: relative;
}

tr > td:first-child {
	font-size: 14px;
	cursor: move;
}

.scroll td {
	padding: 2px;
	height: 25px;
}
tr:nth-child(even) 	{ background-color: #999; color: white}
tr:nth-child(odd) 	{ background-color: #FEFEFE; }